.myBG{
    height: 100vh;
    background:url("../assets/images/main.jpg");
    background-size:cover;
}

.intro{
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.tranding{
    height: auto;
    background:url("../assets/images/scifi.jpg");
    background-size:cover;
}
.superhero{
    height: auto;
    background:url("../assets/images/car.jpg");
    background-size:cover;
}

.movieWrapper{

}

.movieImage{
    height: auto;
    margin:5px;
    padding:5px;
    margin-bottom: 50px;
}

.images{
    height: 500px;
}